body{
  background: grey;
}


.calculadora{
  background: #2e2e2e;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 120px;
  padding: 20px;
  box-shadow: 1px 1px 5px black;
}

.resultado{
  text-align: right;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

.btn{
  width: 60px;
  height: 50px;
  margin: 5px;
  box-shadow: 1px 1px 1px black;
}

.clear{
  width: 130px;
}

.igual{
  height: 110px;
}

.zero{
  width: 130px;
}